# Environment Variables for ArriendosCol
DATABASE_URL="postgresql://postgres:password@host:port/database"
AUTH_SECRET="super-secret-jwt-key-arriendoscol-2026-key-colombia"
NEXT_PUBLIC_MAP_PROVIDER="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
ADMIN_USER="admin"
ADMIN_PASSWORD="ArriendosCol2026*Pass"
