@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color-scheme: dark;
  }
}

/* Custom Leaflet Dark styles */
.leaflet-container {
  background-color: #090d16 !important;
  font-family: inherit;
}
.leaflet-popup-content-wrapper {
  background: #ffffff !important;
  border-radius: 12px !important;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.4) !important;
}
.leaflet-popup-tip {
  background: #ffffff !important;
}
